:root {
  --header-bgc: #ffffff;
  --footer-bgc: #2f303a;
  --primary-bgc: #e5e5e5;
  --secondary-bgc: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-colour: #2196f3;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --adress-color: rgba(255, 255, 255, 0.6);
  --accent-secondary-color: #188ce8;
  --work-list-set-gap: 30px;
  --header-border-color: #ececec;
  --social-link-team-color: #afb1b8;
  --label-bg-color: rgba(47, 48, 58, 0.8);
  --works-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p:last-child {
  margin-bottom: 0;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  margin-top: 0;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.link-anim:hover,
.link-anim:focus {
  color: var(--accent-colour);
}

.link-anim {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero .button {
  background-color: var(--accent-colour);
  color: var(--primary-white-color);
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--accent-secondary-color);
}

.close-button {
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button-icon {
  fill: var(--primary-black-color);
  width: 18px;
  height: 18px;
  margin-top: 6px;
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--accent-colour);
}

.modal-form-submit {
  color: var(--primary-white-color);
  background-color: var(--accent-colour);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-secondary-color);
}

.send-icon {
  fill: var(--primary-white-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.email-submit-button {
  display: inline-flex;
  align-items: center;
  color: var(--primary-white-color);
  background-color: var(--accent-colour);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-submit-button:hover,
.email-submit-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-secondary-color);
}

@media screen and (max-width: 1199px) {
  .email-submit-button {
    max-width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filt-button {
  color: var(--primary-text-color);
  background-color: var(--secondary-bgc);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filt-button-item:not(:first-child) {
  margin-left: 8px;
}

.filt-button:hover,
.filt-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-colour);
  color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .button-list {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .filt-button-item:nth-child(n + 4) {
    margin-top: 10px;
  }
  .filt-button-item:nth-child(3n + 1) {
    margin-left: 0px;
  }
}

.backdrop {
  background-color: var(--backdrop-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  background-color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
}

.modal-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-window {
    min-width: 528px;
    min-height: 580px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.logo {
  color: var(--primary-black-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--accent-colour);
}

.accent {
  color: var(--accent-colour);
}

.email-form-text {
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.email-form {
  display: flex;
}

.email-input {
  padding-left: 16px;
  flex-grow: 1;
  height: 50px;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .email-form {
    flex-direction: column;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-box {
  display: block;
  position: relative;
}

.input-form {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.input-form:focus {
  border-color: var(--accent-colour);
}

.input-form:focus + .modal-form-icon {
  fill: var(--accent-colour);
}

.modal-form-label {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-textarea.input-form {
  resize: none;
  height: 120px;
  margin-top: 4px;
  padding-left: 16px;
}

.modal-textarea:focus {
  border-color: var(--accent-colour);
}

.checkbox-label {
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.checkbox-label::before {
  display: block;
  content: "";
  cursor: pointer;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check {
  bottom: 120px;
  left: 90px;
}

.modal-check:checked + .checkbox-label::before {
  border-color: transparent;
  background-color: var(--accent-colour);
  background-image: url(../images/bg-images/check-icon.svg);
  background-repeat: no-repeat;
}

.checkbox-icon {
  position: absolute;
  width: 11px;
  height: 8px;
  opacity: 0;
  transform: translateX(-50%);
}

.modal-form-link {
  color: var(--accent-colour);
}

.team-social-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-icons {
  fill: var(--social-link-team-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-colour);
}

.team-social-link:focus .social-links-icons,
.team-social-link:hover .social-links-icons {
  fill: var(--primary-white-color);
}

.social-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-item:not(:first-child) {
  margin-left: 10px;
}

.social-links-title {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}

.social-links-icons.footer-icons {
  fill: var(--primary-white-color);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-colour);
}

.contacts-item .link {
  display: flex;
}

.contact-icon {
  fill: var(--secondary-text-color);
  margin-right: 10px;
}

.contacts-item .link:hover .contact-icon,
.contacts-item .link:focus .contact-icon {
  fill: var(--accent-colour);
}

.mail-icon {
  margin: auto;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
  width: 10px;
  height: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link {
  color: var(--secondary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-colour);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts-item:not(:first-child) {
    margin-left: 50px;
  }
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  background-color: var(--backdrop-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  min-width: 480px;
  min-height: 796px;
  width: 100%;
  height: 100%;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-window {
  background-color: var(--primary-white-color);
  position: absolute;
  width: 100%;
  min-height: 796px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 83px;
}

.menu-close-icon {
  width: 40px;
  height: 40px;
}

.menu-close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: transparent;
  border-color: transparent;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 796px;
}

.menu-nav-list {
  font-weight: 500;
  font-size: 40px;
}

.menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav-list:hover,
.menu-nav-list:focus {
  color: var(--accent-colour);
}

.menu-tel {
  color: var(--accent-colour);
  font-size: 34px;
}

.menu-mail {
  color: var(--secondary-text-color);
  font-size: 24px;
}

.menu-contacts {
  margin-bottom: 64px;
}

.menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-social-list {
  display: flex;
  justify-content: space-between;
}

.menu-social-link.decor::after {
  content: '';
  width: 22px;
  position: absolute;
  top: 50%;
  left: 125%;
  background-color: rgba(33, 33, 33, 0.2);
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-social-link {
  color: var(--accent-colour);
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (min-width: 768px) {
  .menu-close-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-border-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.container.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  width: 40px;
  height: 40px;
}

.menu-icon:hover,
.menu-icon:focus {
  fill: var(--accent-colour);
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-colour);
}

.nav-item.current {
  position: relative;
}

.site-nav .link.current::after {
  display: block;
  position: absolute;
  bottom: -33px;
  content: '';
  background-color: var(--accent-colour);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  border: 1px solid var(--accent-colour);
}

@media screen and (max-width: 767px) {
  .nav-item {
    display: none;
  }
  .container.header-container {
    position: relative;
  }
  .menu-open-button {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 768px) {
  .menu-open-button {
    display: none;
  }
}

.footer {
  background-color: var(--footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer .logo {
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-colour);
}

.adress {
  margin-top: 20px;
}

.adress .text {
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.adress-link {
  color: var(--adress-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.adress-item:first-child {
  margin-bottom: 8px;
}

.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-colour);
}

.footer-links-list {
  display: flex;
}

.footer-links-item:not(:first-child) {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .footer-links-list {
    justify-content: center;
  }
  .footer-links {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container.footer-box {
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-left-side {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container.footer-box {
    display: flex;
  }
  .footer .logo {
    font-size: 26px;
    line-height: 1.2;
  }
  .adress .text {
    margin-bottom: 9px;
  }
  .adress-item:first-child {
    margin-bottom: 9px;
  }
  .footer-left-side {
    display: flex;
    width: calc((100% - 30px) / 2);
  }
  .footer-form {
    width: calc((100% - 30px) / 2);
  }
  .footer-links {
    display: inline-block;
    width: calc((100% - 30px) / 2);
  }
  .footer-left-side {
    margin-bottom: 0px;
  }
}

.container.hero-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container.hero-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .container.hero-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .container.hero-container {
    max-width: 696px;
  }
}

.hero .title {
  color: var(--primary-white-color);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/phone/bg-phone/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/phone/bg-phone/hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-tablet/bg-hero.jpg);
    max-width: 768px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-tablet/bg-hero@2x.jpg);
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/bg-desktop/hero-bg.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/bg-desktop/hero-bg@2x.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.pros-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pros-list .text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.pros-icons {
  width: 100%;
  height: 120px;
  background-color: var(--secondary-bgc);
  padding: 25px 100px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .pros-list .title {
    text-align: center;
  }
  .pros-list .text {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .pros-list {
    margin-top: calc(-1 * var(--work-list-set-gap));
    margin-left: calc(-1 * var(--work-list-set-gap));
    display: flex;
    flex-wrap: wrap;
  }
  .pros-list-item {
    margin-left: var(--work-list-set-gap);
    margin-top: var(--work-list-set-gap);
    flex-basis: calc(100% / 2 - var(--work-list-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .section.pros {
    padding-bottom: 47px;
  }
  .pros-list-item {
    margin-top: var(--work-list-set-gap);
    margin-left: var(--work-list-set-gap);
    flex-basis: calc(100% / 4 - var(--work-list-set-gap));
  }
}

.section.job {
  padding-top: 47px;
}

.job-list {
  margin-top: calc(-1 * var(--work-list-set-gap));
  margin-left: calc(-1 * var(--work-list-set-gap));
  display: flex;
  flex-wrap: wrap;
}

.job-list .item-list {
  margin-top: var(--work-list-set-gap);
  margin-left: var(--work-list-set-gap);
  flex-basis: calc(100% / 3 - var(--work-list-set-gap));
}

.job-list-label {
  color: var(--primary-white-color);
  background-color: var(--label-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
}

@media screen and (max-width: 1199px) {
  .section.job {
    display: none;
  }
}

.section-team {
  background-color: var(--secondary-bgc);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-list .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
}

.team-info {
  border-radius: 0px 0px 4px 4px;
  padding-top: var(--work-list-set-gap);
  padding-bottom: 24px;
  background-color: var(--primary-white-color);
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .team-item {
    margin-bottom: var(--work-list-set-gap);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    margin-top: var(--work-list-set-gap);
    margin-left: var(--work-list-set-gap);
    flex-basis: calc(100% / 2 - var(--work-list-set-gap));
  }
  .team-list {
    margin: auto;
    margin-top: calc(-1 * var(--work-list-set-gap));
    margin-left: calc(-1 * var(--work-list-set-gap));
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    margin-top: var(--work-list-set-gap);
    margin-left: var(--work-list-set-gap);
    flex-basis: calc(100% / 4 - var(--work-list-set-gap));
  }
  .team-info {
    padding-bottom: var(--work-list-set-gap);
  }
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}

.work-list .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0;
}

.work-info {
  border: 1px solid #eeeeee;
  border-top: 1px solid rgba(255, 255, 255, 0);
  padding: 20px 24px;
  flex-grow: 1;
}

.overlay-text {
  color: var(--primary-white-color);
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.work-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-overlay {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--works-overlay-color);
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:focus .works-overlay,
.work-link:hover .works-overlay {
  transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .work-list .item:not(last-child) {
    margin-bottom: var(--work-list-set-gap);
  }
}

@media screen and (min-width: 768px) {
  .work-list {
    margin: auto;
    margin-top: calc(-1 * var(--work-list-set-gap));
    margin-left: calc(-1 * var(--work-list-set-gap));
    display: flex;
    flex-wrap: wrap;
  }
  .work-list .item {
    margin-top: var(--work-list-set-gap);
    margin-left: var(--work-list-set-gap);
    flex-basis: calc(100% / 2 - var(--work-list-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .work-list .item {
    flex-basis: calc(100% / 3 - var(--work-list-set-gap));
  }
}

.companies-icons {
  fill: var(--social-link-team-color);
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-list-item {
  margin-top: var(--work-list-set-gap);
  margin-left: var(--work-list-set-gap);
}

.companies-link {
  border: 1px solid var(--social-link-team-color);
  border-radius: 4px;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-link:hover,
.companies-link:focus {
  border: 1px solid var(--accent-colour);
  border-radius: 4px;
}

.companies-link:hover .companies-icons,
.companies-link:focus .companies-icons {
  fill: var(--accent-colour);
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--work-list-set-gap));
  margin-left: calc(-1 * var(--work-list-set-gap));
}

@media screen and (max-width: 767px) {
  .companies-list-item {
    flex-basis: calc(100% / 2 - var(--work-list-set-gap));
  }
}

@media screen and (min-width: 768px) {
  .companies-list-item {
    flex-basis: calc(100% / 3 - var(--work-list-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .section.companies {
    padding-top: 5px;
  }
  .companies-list-item {
    flex-basis: calc(100% / 6 - var(--work-list-set-gap));
  }
}
/*# sourceMappingURL=main.css.map */