.companies-icons {
  fill: var(--social-link-team-color);
  width: 106px;
  height: 60px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-list-item {
  margin-top: var(--work-list-set-gap);
  margin-left: var(--work-list-set-gap);
}

.companies-link {
  border: 1px solid var(--social-link-team-color);
  border-radius: 4px;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 16px;
  padding-bottom: 16px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-link:hover,
.companies-link:focus {
  border: 1px solid var(--accent-colour);
  border-radius: 4px;
}

.companies-link:hover .companies-icons,
.companies-link:focus .companies-icons {
  fill: var(--accent-colour);
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--work-list-set-gap));
  margin-left: calc(-1 * var(--work-list-set-gap));
}

@media screen and (max-width: 767px) {
  .companies-list-item {
    flex-basis: calc(100% / 2 - var(--work-list-set-gap));
  }
}

@media screen and (min-width: 768px) {
  .companies-list-item {
    flex-basis: calc(100% / 3 - var(--work-list-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .section.companies {
    padding-top: 5px;
  }

  .companies-list-item {
    flex-basis: calc(100% / 6 - var(--work-list-set-gap));
  }
}
