.footer {
  background-color: var(--footer-bgc);

  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer .logo {
  color: var(--primary-white-color);

  text-decoration: none;

  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-colour);
}

.adress {
  margin-top: 20px;
}

.adress .text {
  color: var(--primary-white-color);

  margin-top: 0;
  margin-bottom: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.adress-link {
  color: var(--adress-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.adress-item:first-child {
  margin-bottom: 8px;
}

.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-colour);
}

.footer-links-list {
  display: flex;
}

.footer-links-item:not(:first-child) {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .footer-links-list {
    justify-content: center;
  }

  .footer-links {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container.footer-box {
    align-items: baseline;
    justify-content: space-between;
  }

  .footer-left-side {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container.footer-box {
    display: flex;
  }

  .footer .logo {
    font-size: 26px;
    line-height: 1.2;
  }

  .adress .text {
    margin-bottom: 9px;
  }
  .adress-item:first-child {
    margin-bottom: 9px;
  }

  .footer-left-side {
    display: flex;
    width: calc((100% - 30px) / 2);
  }

  .footer-form {
    width: calc((100% - 30px) / 2);
  }

  .footer-links {
    display: inline-block;
    width: calc((100% - 30px) / 2);
  }

  .footer-left-side {
    margin-bottom: 0px;
  }
}
