.container.hero-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container.hero-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .container.hero-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .container.hero-container {
    max-width: 696px;
  }
}

.hero .title {
  color: var(--primary-white-color);

  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
}

 .hero {
  background-color:  #2f303a;
  background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
      ),
   url(../images/phone/bg-phone/hero-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 480px;
   padding-top: 118px;
   padding-bottom: 118px;

   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-color:  #2f303a;
    background-image: linear-gradient(
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
        ),
     url(../images/phone/bg-phone/hero-bg@2x.jpg);
  }
}



@media screen and (min-width: 768px) {
  .hero {
    background-color:  #2f303a;
    background-image: linear-gradient(
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
        ),
     url(../images/tablet/bg-tablet/bg-hero.jpg);
     max-width: 768px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-color:  #2f303a;
    background-image: linear-gradient(
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
        ),
     url(../images/tablet/bg-tablet/bg-hero@2x.jpg);
     max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/bg-desktop/hero-bg.jpg);
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero .title {
    font-size: 44px;
    line-height: 1.36;
  }
}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-color:  #2f303a;
    background-image: linear-gradient(
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
        ),
     url(../images/desktop/bg-desktop/hero-bg@2x.jpg);
    max-width: 1600px;
  
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
