.pros-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pros-list .text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

.pros-icons {
  width: 100%;
  height: 120px;
  background-color: var(--secondary-bgc);
  padding: 25px 100px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .pros-list {
    & .title {
      text-align: center;
    }

    & .text {
      margin-bottom: 30px;
    }
  }

}

// .section.pros {
//   padding-bottom: 47px;
// }

// .pros-list {
//   margin-top: calc(-1 * var(--work-list-set-gap));
//   margin-left: calc(-1 * var(--work-list-set-gap));
//   display: flex;
//   flex-wrap: wrap;
// }


// .pros-list-item {
//   margin-top: var(--work-list-set-gap);
//   margin-left: var(--work-list-set-gap);
//   flex-basis: calc(100% / 4 - var(--work-list-set-gap));
// }
