.section-team {
  background-color: var(--secondary-bgc);

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 10px;
}

.team-list {
  margin: auto;
  margin-top: calc(-1 * var(--work-list-set-gap));
  margin-left: calc(-1 * var(--work-list-set-gap));
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-top: var(--work-list-set-gap);
  margin-left: var(--work-list-set-gap);
  flex-basis: calc(100% / 4 - var(--work-list-set-gap));
}

.team-list .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
}

.team-info {
  border-radius: 0px 0px 4px 4px;

  padding-top: var(--work-list-set-gap);
  padding-bottom: var(--work-list-set-gap);
  background-color: var(--primary-white-color);
}

.team-social-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  justify-content: center;
  align-content: center;
}

.social-links-icons {
  fill: var(--social-link-team-color);
  width: 20px;
  height: 20px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-colour);
}

.team-social-link:focus .social-links-icons,
.team-social-link:hover .social-links-icons {
  fill: var(--primary-white-color);
}

.social-links-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.social-links-item:not(:first-child) {
  margin-left: 10px;
}

