.send-icon {
  fill: var(--primary-white-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.email-submit-button {
  display: inline-flex;
  align-items: center;
  color: var(--primary-white-color);
  background-color: var(--accent-colour);

  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-submit-button:hover,
.email-submit-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-secondary-color);
}
