.close-button {
  background-color: transparent;

  padding: 0;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button-icon {
  fill: var(--primary-black-color);

  width: 18px;
  height: 18px;

  margin-top: 6px;
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--accent-colour);
}



.modal-form-submit {
  color: var(--primary-white-color);
  background-color: var(--accent-colour);

  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;


  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-secondary-color);
}