body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

p:last-child {
  margin-bottom: 0;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  margin-top: 0;
}
